.h3 {
  font-family: Roboto,sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #626770;
  position: relative;
  padding-left: 265px;
  margin-bottom: 0px;
  padding-top: 10px;
}


.p1 {
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #a0a0a0;
  position: relative;
  padding-left: 265px;
  margin-top: 0px;
  line-height: 1;

}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
